form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: 45%;
}

.form-label {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.form-button {
    background-color:#fe3bd4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}
.form-signup-label{
   
    
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
}
.form-signup-button {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    background-color:#3ba0fe;
    color: #fff;
    padding: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
}

.form-login-button {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 20%;
    background-color:#3ba0fe;
    color: #fff;
    padding: 4px;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.customer_form {
    margin-left: 30vw;
    min-width: 35vw;
}
.promo_list {
    min-width: 30vw;
}
